i.material-symbols-outlined {
  font-variation-settings: 'wght' 400;
  font-size: 150%;
  color: inherit;
}

i.material-symbols-outlined.bold {
  font-variation-settings: 'wght' 800;
  font-size: 150%;
  color: inherit;
}